/*Mise a jour general*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/fond_et_illustraction/fond/fond.png);
    background-size:cover;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/fond_et_illustraction/fond/fond.png);
    background-size:cover;
}
main{
    padding: 50px;
}
/*fin mise a jour general*/
/*En tete*/
header{
    display: flex;
    flex-direction: column;
    height: 160px;    
}
.barnoir{
    width: 100%;
    background-color: black;
    height: 50%;
}
.logo{
    height: 40px;
    position: relative;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo img{
    height: 100%;
    position: relative;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.barblanche{
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 100%;

}
.barblanche nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    font-size: 20px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.barblanche nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
.barblanche nav ul a{
    text-decoration: none;
    color: black;
}
.button_lien{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
.button_lien a{
    color: white;
    text-decoration: none;
   
}
 /*En tete fin*/
 /*conteneur*/
.conteneur{

    display: flex;
    width: 100%;
    flex-direction: column;}
.conteneur .top h1{
    font-size: 70px;
    margin-bottom: 0;
}
.conteneur .top p{
    font-size: 25px;
}
.conteneur .bottom{
    width: 100%;
    height: 80%;
}
.conteneur .bottom img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
 /*conteneur fin*/

/*mission*/
.notremission{
    background-color: white;
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 6, 0.096);
}
.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.element h2{
    font-size: 30px;
    text-align: left;
}
.iconettexte{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.iconettexte .iconette{
    width: 300px;
    height: 300px
}
.iconettexte .iconette img{
    width: 100%;
    height: 100%;
}
.iconettexte p{
   width: 50%;
   font-size: 25px;
   text-align: justify;
}
/*mission fin*/
/* pedagogie*/
.pedagogie{
    margin-top: 80px;
    width: 100%;
}
.entete{
    width: 100%;
      
}
.entete h1{
    font-size: 40px;
}
.entete p{
    font-size: 30px;
}
.center{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 60px;
    
}
.bloc{
    display: flex;
    width: 600px;
    text-align: justify;
    justify-content: center;
    gap: 20px;

}
.bloc img{
    width: 40px;
    height: 40px;
}
.bloc p{
    margin-top: 0;
    font-size: 28px;
}
/* pedagogie fin*/
/* installation il a herite la mise en forme de pedagogie*/
.installation .entete{
    font-size: 30px;
}
.installation p{
    font-size: 28px;
}
/* fin insstallation*/
/* nos ancienne*/
.NosAnciennesP .bloc{
    height: 434px;
    width: 404px;
    flex-direction: column;
}
.NosAnciennesP .bloc .phot{
    height: 20px;
    width: 300px;
    overflow: hidden;
}
.NosAnciennesP .bloc .pho img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.NosAnciennesP p{
    font-size: 30px;
}

.titreetdescription h3{
    font-size: 20px;
}
.titreetdescription p{
    font-size: 20px;
}
/* nos ancienne fin */
.Pourquoi p{
    font-size: 28px;
}
/*temoignage fin*/
/*contact*/
.contact{
    margin-top: 200px;
    height: 700px;
    background-color: white;
    display: flex;
    gap: 50px;

}
.contact .gauche{
    height: 100%;
    float: left;

    width: 49%;
}
.contact .gauche img{
    height: 100%;
}
.contact .droite{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.contact .droite form{
    width:80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact .droite form input{
    height: 25px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}
.contact .droite form label{
    font-size: 20x;
    margin-bottom: 20px;
    
}
.contact .droite form .nom_post{
    display: flex;
    justify-content: space-between;

}
.contact .droite form .message{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact .droite form .message textarea{
    height: 170px;
    border-radius: 5px;
    padding: 20px;
}
.contact .droite form input[type="submit"]{
    margin-top: 20px;
    height: 60px;
    background-color: black;
    color: white;
}
/*fin contact*/

/*footer*/
footer{
    background-color: white;
    height: 260px;
    width: 100%;
}

footer .conteneurf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 0px;
}
.conteneurf .gauche {
    width: 250px;
    height: 90%;
    text-align: center;
    color: black;
}
.conteneurf .gauche .logo{
    position: relative;
    height: 100px;
    background-color: black;
    top: 55px;
}
.conteneurf .gauche .logo img{
    height: 40%;
}
.conteneurf .gauche .resaux{

    position: relative;
    top: 80px;
    display: flex;
    height: 20px;
    gap: 20px;
    left: 20px;
}
.conteneurf .gauche .resaux img{
    height: 100%;
}
.conteneurf .centre {
    height: 90%;
    width: 300px;
    text-align: center;
    color: black;
   
}
.conteneurf .droite{
    width: 200px;
    height: 90%;
    text-align: center;
    color: black;
}
.conteneurf .horaire{
    height: 90%;
    width: 250px;
    padding-right: 35px;
    text-align: center;
    color: black; 
}
.conteneurf p{
    display: block;
}
.conteneurf a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
/*footer fin*/