*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/fond_et_illustraction/fond/fond.png);
    background-size:cover;
}
main{
    display: flex;
}
.gauche{
    background-color: black;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.center{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    color: white;
    margin-left: 30px; 
}
.un{
    background-color: rgba(255, 255, 255, 0.425);
}
.center .balise a{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    gap: 20px;
    text-decoration: none;
    color: white;
} 
.balise :hover{
    background-color: rgba(255, 255, 255, 0.425);

}
.center  img{
    height: 100%;
}
.gauche .top{
    background-color: rgba(0, 0, 0, 0.627);
    height: 40px;
    margin-left: 30px; 

}
.top img{
    height: 100%;
}
.resaux{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 20px;
    position: fixed;
    top: 720px;
    margin-left: 30px; 
}.resaux a{
    height: 25px;
}
.resaux img{
    height: 100%;
    opacity: 80%;
}


.centre{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.centre .top{
    background-color: rgba(0, 0, 0, 0.627);
    height: 50px;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}
.top p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 30px; 
    margin-top: 10px; 
}
.top input{
    background-color: rgba(255, 250, 250, 0.627);
    color: rgb(0, 0, 0);
    border: none;
    height: 30px;
    width: 100px;
    margin-left: 30px; 
    margin-top: 10px; 
    cursor: pointer;
    border-radius: 4px;
}
.top input:hover{
    background-color: rgba(255, 255, 255, 0.425);

}

.doc-container {
    width: 90%;
    height: 90%;
    min-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .doc-container h2 {
    text-align: left;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  .doc {
    border-left: 5px solid #000000;
    padding-left: 15px;
    margin-bottom: 25px;
  }
  
  .doc h4 {
    margin: 0;
    font-size: 20px;
    color: #34495e;
  }
  
  .doc p {
    margin: 5px 0;
    color: #555;
  }
  


.download-section {
    margin-top: 10px;

  }  
  .download-btn {
    background-color: #000000;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
  }
  
  .download-btn:hover {
    background-color: #404040e7;
  }